<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.Thymeleaf.org" layout:decorate="~{layout}">
<div layout:fragment="main-content" class="card container my-3 form-registar">
    <div class="my-3 border-bottom">
        <h4>로그인</h4>
    </div>
    <form th:action="@{/member/login}" method="post">
        <!--경고 창 form-->
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                이메일이나 비밀번호가 다릅니다!
            </div>
        </div>
        <!--아이디 입력칸-->
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <!--비밀번호 입력칸-->
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <!--로그인 및 취소 버튼-->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-sm btn-primary mx-2">로그인</button>
            <a href="/" class="btn btn-sm btn-secondary mx-2">돌아가기</a>
        </div>
        <!--비밀번호 초기화-->
        <div class="d-flex justify-content-center">
            <a href="/member/reset" class="btn btn-sm btn-outline-danger my-2">비밀번호 초기화</a>
        </div>
    </form>
</div>
</html>
